<mat-toolbar color="primary" fxLayout fxLayoutGap="1em">

    <button><a class="mat-body-2" routerLinkActive="active" [routerLink]="'/legal'">Legal notice</a></button>
    <button><a class="mat-body-2" routerLinkActive="active" [routerLink]="'/credits'">Credits</a></button>
    <button><a class="mat-body-2" routerLinkActive="active" href="/admin/index.php">Admin</a></button>
    <button><a target="_blank" class="mat-body-2" href="https://simplon.co/">Simplon.co</a></button>
</mat-toolbar>
    <footer class="page-footer indigo 900">
        <div class="footer-copyright">
            <div class="container">
                <p class="grey-text text-lighten-4 left">© 2017 Copyright Twenty</p>
                <p class="grey-text text-lighten-4 right">Made with PHP, Materialize, Angular 5, Angular Material.</p>
            </div>
        </div>
    </footer>

